In [239]:
from google.colab import drive
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')


drive.mount('/content/drive')
file_path = '/content/drive/My Drive/merged_missing.csv'
no_missing_file_path = '/content/drive/My Drive/merged_no_missing.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [240]:
# Load the CSV data into a DataFrame
data = pd.read_csv(file_path)
data.head(10)

,Country,T1992,T1993,T1994,T1995,T1996,T1997,T1998,T1999,T2000,...,D2011,D2012,D2013,D2014,D2015,D2016,D2017,D2018,D2019,D2020
0,"Afghanistan, Islamic Rep. of",-0.294,0.220,0.430,0.359,-0.116,0.471,0.675,1.198,0.993,...,4.0,10.0,5.0,3.0,5.0,4.0,5.0,5.0,7.0,7.0
1,Albania,0.106,0.076,1.330,-0.172,-0.038,0.075,0.795,0.670,1.065,...,0.0,1.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0
2,Algeria,-0.312,0.552,0.732,0.595,0.846,1.059,1.109,1.476,0.820,...,1.0,2.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0
3,Angola,0.466,0.256,0.212,0.753,0.370,0.107,1.064,0.417,0.169,...,4.0,1.0,1.0,0.0,3.0,4.0,2.0,1.0,3.0,3.0
4,Anguilla,0.365,0.535,0.575,0.651,0.350,0.459,1.060,0.532,0.264,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,Argentina,-0.261,0.086,0.487,0.259,0.512,0.759,0.351,0.160,-0.186,...,0.0,3.0,2.0,4.0,4.0,2.0,4.0,5.0,4.0,2.0
6,"Armenia, Rep. of",-1.310,-0.932,0.481,0.697,0.470,0.599,1.316,1.488,1.031,...,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
7,Australia,0.281,0.484,0.221,0.413,NaN,0.383,1.092,0.580,0.148,...,3.0,2.0,3.0,4.0,8.0,3.0,3.0,3.0,3.0,3.0
8,Austria,1.248,0.527,1.958,0.939,-0.203,0.514,1.343,0.986,1.769,...,0.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0
9,"Azerbaijan, Rep. of",-0.839,-1.009,0.098,1.012,0.244,0.582,1.184,1.224,1.098,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Load All Country With Missing Values

In [241]:
#loop through all if the countries with missing value
#find out the missing value for each country
#append to a larger array named all_missing_columns
all_missing_rows = []

df_missing = data[data.isnull().any(axis=1)]
for i in range(len(df_missing)):
  country=df_missing.iloc[i]
  temp=country[1:30]
  temp_missing=temp[temp.isnull()].index
  all_missing_rows.append(temp_missing)

all_missing_rows[0]

Index(['T2003', 'T2015', 'T2019'], dtype='object')

# Load No Missing Data-Applying For All countries(with missing values)

In [242]:
# Load the CSV data into a DataFrame
no_missing_data = pd.read_csv(no_missing_file_path)
no_missing_data.head(10)

,Country,T1992,T1993,T1994,T1995,T1996,T1997,T1998,T1999,T2000,...,D2011,D2012,D2013,D2014,D2015,D2016,D2017,D2018,D2019,D2020
0,"Afghanistan, Islamic Rep. of",-0.294,0.220,0.430,0.359,-0.116,0.471,0.675,1.198,0.993,...,4.0,10.0,5.0,3.0,5.0,4.0,5.0,5.0,7.0,7.0
1,Albania,0.106,0.076,1.330,-0.172,-0.038,0.075,0.795,0.670,1.065,...,0.0,1.0,0.0,0.0,3.0,1.0,2.0,1.0,0.0,0.0
2,Algeria,-0.312,0.552,0.732,0.595,0.846,1.059,1.109,1.476,0.820,...,1.0,2.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0
3,Angola,0.466,0.256,0.212,0.753,0.370,0.107,1.064,0.417,0.169,...,4.0,1.0,1.0,0.0,3.0,4.0,2.0,1.0,3.0,3.0
4,Anguilla,0.365,0.535,0.575,0.651,0.350,0.459,1.060,0.532,0.264,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,Argentina,-0.261,0.086,0.487,0.259,0.512,0.759,0.351,0.160,-0.186,...,0.0,3.0,2.0,4.0,4.0,2.0,4.0,5.0,4.0,2.0
6,"Armenia, Rep. of",-1.310,-0.932,0.481,0.697,0.470,0.599,1.316,1.488,1.031,...,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
7,Australia,0.281,0.484,0.221,0.413,0.604,0.383,1.092,0.580,0.148,...,3.0,2.0,3.0,4.0,8.0,3.0,3.0,3.0,3.0,3.0
8,Austria,1.248,0.527,1.958,0.939,-0.203,0.514,1.343,0.986,1.769,...,0.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0
9,"Azerbaijan, Rep. of",-0.839,-1.009,0.098,1.012,0.244,0.582,1.184,1.224,1.098,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [243]:
#extract country with missing value in the no missing dataset
df_missing = data[data.isnull().any(axis=1)]
country=df_missing['Country']
country_filtered = no_missing_data[no_missing_data['Country'].isin(country)]

#define a list to store all values where is missing
missing_real=[]

#loop through all countries with missing value, and find out real answers
for c in range(len(country_filtered)):
  country=country_filtered.iloc[i]
  missing=country[all_missing_rows[c]]
  missing_real.append(missing)

missing_real[0]

T2003    0.355
T2015     0.97
T2019    0.925
Name: 162, dtype: object

# Baseline Model

In [244]:
#get temperature avaliable year for each country
temp_list_all=[]

for c in range(len(df_missing)):
  temp=df_missing.iloc[c][1:30]
  temp_missing=temp[temp.isnull()].index
  temp_list=temp.drop(temp_missing).index
  temp_list_all.append(temp_list)

In [245]:
def generate_baseline_features(temp_list_all, df_missing, index):
    # Define the columns for the DataFrame
    df_columns = ['Year', 'CTemp_Year_min1', 'CTemp_Year_min2', 'CTemp_Year_min3', 'Temp_Change_Year']
    features = pd.DataFrame(columns=df_columns)

    # Select the temperature list and row based on the given index
    temp_list = temp_list_all[index]
    row = df_missing.iloc[index]

    # Loop over each temperature entry in the list
    for t in temp_list:
        Year = int(t.replace('T', ''))
        extended_value = []

        if Year >= 1995:
            # Process for years >= 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = row[past_year] if past_year in row else np.nan

                # Handle missing values by checking if the value is NaN and backfilling
                if np.isnan(year_value) and (Year - (i + 2)) >= int(temp_list[0].replace('T', '')):
                    past_year = "T" + str(Year - (i + 2))
                    year_value = row[past_year] if past_year in row else np.nan

                    if np.isnan(year_value):
                        two_years_back = "T" + str(Year - (i + 3))
                        year_value = row[two_years_back] if two_years_back in row else np.nan

                extended_value.append(year_value)

        else:
            # Process for years < 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = row[past_year] if past_year in row else 9999999

                extended_value.append(year_value)

        # Create a new row for each year and append to the DataFrame
        new_row = pd.DataFrame([{
            'Year': str(Year),
            'CTemp_Year_min1': extended_value[0],
            'CTemp_Year_min2': extended_value[1],
            'CTemp_Year_min3': extended_value[2],
            'Temp_Change_Year': row[t]
        }])
        features = pd.concat([features, new_row], ignore_index=True)

    # Year started from 1995
    features = features[3:]
    return features

In [246]:
# Store results for analysis
results = []

# Loop through each index from 0 to 125
for idx in range(126):
  features=generate_baseline_features(temp_list_all,df_missing, index=idx)
  X=features.drop(['Year','Temp_Change_Year'],axis=1)
  y=features['Temp_Change_Year']

  #train and test split
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=77)

  # Initialize the Random Forest Regressor
  rf_regressor_baseline = RandomForestRegressor(n_estimators=100, random_state=77)

  # Initialize the StandardScaler
  scaler = StandardScaler()

  # Fit the scaler on the training and test data and transform it
  X_train_scaled = scaler.fit_transform(X_train)
  X_test_scaled = scaler.transform(X_test)

  # Train the model
  rf_regressor_baseline.fit(X_train_scaled, y_train)

  # Make predictions on the test set
  predictions = rf_regressor_baseline.predict(X_test_scaled)

  # Calculate the mean squared error
  mse = mean_squared_error(y_test, predictions)
  mae = mean_absolute_error(y_test, predictions)

  results.append({
        'Index': idx,
        'Country':df_missing['Country'].iloc[idx],
        'MAE': mae,
        'MSE': mse
    })

In [247]:
#check for index 0 where country is Albania
results[0]

{'Index': 0,
 'Country': 'Albania',
 'MAE': 0.5240066666666662,
 'MSE': 0.37959343646666616}

# Result For Baseline Model

In [248]:
# Convert the list of dictionaries into a DataFrame
df_results = pd.DataFrame(results)

average_MAE=df_results['MAE'].mean()
print(f"The average MAE is: {average_MAE}")

average_MSE=df_results['MSE'].mean()
print(f"The average MSE is: {average_MSE}")

The average MAE is: 0.38791931216931225
The average MSE is: 0.29107612170105823

# Extend Feature Set

In [249]:
def generate_extended_features(temp_list_all, df_missing, index):
    # Initialize a DataFrame to store the transformed data
    extended_features_columns = ['Year','C_Year-1','F_Year-1','L_Year-1','D_Year-1']
    extended_features = pd.DataFrame(columns=extended_features_columns)

    # Select the temperature list and row based on the given index
    temp_list = temp_list_all[index]
    row = df_missing.iloc[index]

    #find out corresponding values -CO2 concentration, Forest for t-1 year...
    for t in temp_list:
      Year=int(t.replace('T',''))
      Past_Year=Year-1

      #tempereature related variables-last year data
      C_column= 'C'+str(Past_Year)
      F_column= 'F'+str(Past_Year)
      L_column= 'L'+str(Past_Year)
      D_column= 'D'+str(Past_Year)

      temp_related_list=[C_column,F_column,L_column,D_column]

      if (Year>1992):
        temp_related_values=row[temp_related_list]

        # Prepare the new row to add to the DataFrame
        new_row = pd.DataFrame([{
              'Year': str(Year),
              'C_Year-1': temp_related_values[0],
              'F_Year-1': temp_related_values[1],
              'L_Year-1': temp_related_values[2],
              'D_Year-1': temp_related_values[3],
          }])
      else:
        new_row = pd.DataFrame([{
              'Year': str(Year),
              'C_Year-1': 9999999,
              'F_Year-1': 9999999,
              'L_Year-1': 9999999,
              'D_Year-1': 9999999,
          }])


      # Append the new row to the DataFrame
      extended_features = pd.concat([extended_features, new_row], ignore_index=True)

    #print out the dataframe for train and validate
    extended_features=extended_features[3:]
    return extended_features

In [250]:
#test the function
generate_extended_features(temp_list_all, df_missing, index=0)

    Year    C_Year-1  F_Year-1    L_Year-1 D_Year-1
3   1995   179.72375     781.0   95.191971      0.0
4   1996  180.764583    779.05   95.546209      2.0
5   1997  181.617917     777.1   95.502415      0.0
6   1998     182.095    775.15   95.880991      1.0
7   1999    183.8275     773.2   95.843925      0.0
8   2000  184.501667    771.25    95.64294      0.0
9   2001    185.0125     769.3   94.989143      0.0
10  2002  185.877083   770.577   94.848173      0.0
11  2004  188.331667   773.131   94.709177      0.0
12  2005   189.07625   774.408   94.439562      2.0
13  2006  190.294583   775.685   93.216359      2.0
14  2007  191.322917   776.962   94.371221      0.0
15  2008  192.265417   778.239   94.347537      2.0
16  2009  193.151667   779.516   99.135004      0.0
17  2010     194.055   780.793   98.959577      1.0
18  2011  195.368333    782.07  101.652933      1.0
19  2012      196.15  783.4935  101.063978      0.0
20  2013  197.309583   784.917  100.595075      1.0
21  2014   198.70875  786.3405  100.254646      0.0
22  2016  200.782083  789.1875       100.0      3.0
23  2017  202.630833    789.18   99.164506      1.0
24  2018  203.669167  788.9025   98.707895      2.0
25  2020  206.183333     788.9   97.029128      0.0

In [251]:
def merge_extended_features(baseline_features, extended_features):
    merged_df = pd.merge(baseline_features, extended_features, on='Year', how='left')
    return merged_df

In [252]:
baseline_features=generate_baseline_features(temp_list_all, df_missing, index=0)
extended_features=generate_extended_features(temp_list_all, df_missing, index=0)
merged_df=merge_extended_features(baseline_features, extended_features)
merged_df

,Year,CTemp_Year_min1,CTemp_Year_min2,CTemp_Year_min3,Temp_Change_Year,C_Year-1,F_Year-1,L_Year-1,D_Year-1
0,1995,1.33,0.076,0.106,-0.172,179.72375,781.0,95.191971,0.0
1,1996,-0.172,1.33,0.076,-0.038,180.764583,779.05,95.546209,2.0
2,1997,-0.038,-0.172,1.33,0.075,181.617917,777.1,95.502415,0.0
3,1998,0.075,-0.038,-0.172,0.795,182.095,775.15,95.880991,1.0
4,1999,0.795,0.075,-0.038,0.670,183.8275,773.2,95.843925,0.0
5,2000,0.67,0.795,0.075,1.065,184.501667,771.25,95.64294,0.0
6,2001,1.065,0.67,0.795,1.532,185.0125,769.3,94.989143,0.0
7,2002,1.532,1.065,0.67,0.492,185.877083,770.577,94.848173,0.0
8,2004,0.492,0.492,1.532,0.444,188.331667,773.131,94.709177,0.0
9,2005,0.444,0.492,0.492,0.189,189.07625,774.408,94.439562,2.0
10,2006,0.189,0.444,0.492,0.345,190.294583,775.685,93.216359,2.0
11,2007,0.345,0.189,0.444,1.316,191.322917,776.962,94.371221,0.0
12,2008,1.316,0.345,0.189,0.978,192.265417,778.239,94.347537,2.0
13,2009,0.978,1.316,0.345,0.910,193.151667,779.516,99.135004,0.0
14,2010,0.91,0.978,1.316,1.191,194.055,780.793,98.959577,1.0
15,2011,1.191,0.91,0.978,1.055,195.368333,782.07,101.652933,1.0
16,2012,1.055,1.191,0.91,1.487,196.15,783.4935,101.063978,0.0
17,2013,1.487,1.055,1.191,1.333,197.309583,784.917,100.595075,1.0
18,2014,1.333,1.487,1.055,1.198,198.70875,786.3405,100.254646,0.0
19,2016,1.198,1.198,1.333,1.464,200.782083,789.1875,100.0,3.0
20,2017,1.464,1.198,1.198,1.121,202.630833,789.18,99.164506,1.0
21,2018,1.121,1.464,1.198,2.028,203.669167,788.9025,98.707895,2.0
22,2020,2.028,2.028,1.121,1.498,206.183333,788.9,97.029128,0.0

In [253]:
# Store results for analysis
results_extended_features = []

# Loop through each index from 0 to 125
for idx in range(126):
  baseline_features=generate_baseline_features(temp_list_all, df_missing, index=idx)
  extended_features=generate_extended_features(temp_list_all, df_missing, index=idx)
  merged_df=merge_extended_features(baseline_features, extended_features)

  X=merged_df.drop(['Year','Temp_Change_Year'],axis=1)
  y=merged_df['Temp_Change_Year']

  #train and test split
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=77)

  # Initialize the Random Forest Regressor
  rf_regressor_extended = RandomForestRegressor(n_estimators=100, random_state=77)

  # Initialize the StandardScaler
  scaler = StandardScaler()

  # Fit the scaler on the training and test data and transform it
  X_train_scaled = scaler.fit_transform(X_train)
  X_test_scaled = scaler.transform(X_test)

  # Train the model
  rf_regressor_extended.fit(X_train_scaled, y_train)

  # Make predictions on the test set
  predictions = rf_regressor_extended.predict(X_test_scaled)

  # Calculate the mean squared error
  mse = mean_squared_error(y_test, predictions)
  mae = mean_absolute_error(y_test, predictions)

  results_extended_features.append({
        'Index': idx,
        'Country':df_missing['Country'].iloc[idx],
        'MAE': mae,
        'RMSE': np.sqrt(mse)
    })

In [254]:
#Check the result for Albania
results_extended_features[0]

{'Index': 0,
 'Country': 'Albania',
 'MAE': 0.31024666666666656,
 'RMSE': 0.3877555827236191}

# Results For Extended Feature Sets

In [255]:
# Convert the list of dictionaries into a DataFrame
df_results = pd.DataFrame(results_extended_features)
df_results

average_MAE=df_results['MAE'].mean()
print(f"The average MAE is: {average_MAE}")

average_RMSE=df_results['RMSE'].mean()
print(f"The average RMSE is: {average_MSE}")

The average MAE is: 0.3600597883597884
The average RMSE is: 0.29107612170105823

# Apply on real missing values

In [256]:
def extended_features_real_missing(all_missing_rows,df_missing,idx):
    # Initialize a DataFrame to store the transformed data
    extended_features_columns = ['Year','C_Year-1','F_Year-1','L_Year-1','D_Year-1']
    extended_features_real_missing = pd.DataFrame(columns=extended_features_columns)

    missing_year=all_missing_rows[idx]
    country=df_missing.iloc[idx]

    #find out corresponding values -CO2 concentration, Forest for t-1 year...
    for t in missing_year:
        Year=int(t.replace('T',''))
        Past_Year=Year-1

        #tempereature related variables-last year data
        C_column= 'C'+str(Past_Year)
        F_column= 'F'+str(Past_Year)
        L_column= 'L'+str(Past_Year)
        D_column= 'D'+str(Past_Year)

        temp_related_list=[C_column,F_column,L_column,D_column]

        if (Year>1992):
          temp_related_values=country[temp_related_list]

          # Prepare the new row to add to the DataFrame
          new_row = pd.DataFrame([{
                'Year': str(Year),
                'C_Year-1': temp_related_values[0],
                'F_Year-1': temp_related_values[1],
                'L_Year-1': temp_related_values[2],
                'D_Year-1': temp_related_values[3],
            }])
        else:
          new_row = pd.DataFrame([{
                'Year': str(Year),
                'C_Year-1': 9999999,
                'F_Year-1': 9999999,
                'L_Year-1': 9999999,
                'D_Year-1': 9999999,
            }])


        # Append the new row to the DataFrame
        extended_features_real_missing = pd.concat([extended_features_real_missing, new_row], ignore_index=True)

    return extended_features_real_missing

In [257]:
def generate_baseline_features_real_missing(all_missing_rows, df_missing, idx):
    # Define the columns for the DataFrame
    df_columns = ['Year', 'CTemp_Year_min1', 'CTemp_Year_min2', 'CTemp_Year_min3']
    baseline_features = pd.DataFrame(columns=df_columns)

    # Select the temperature list and row based on the given index
    missing_year=all_missing_rows[idx]
    country=df_missing.iloc[idx]

    # Loop over each temperature entry in the list
    for t in missing_year:
        Year = int(t.replace('T', ''))
        extended_value = []

        if Year >= 1995:
            # Process for years >= 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = country[past_year] if past_year in country else np.nan

                # Handle missing values by checking if the value is NaN and backfilling
                if np.isnan(year_value) and (Year - (i + 2)) >= int(temp_list[0].replace('T', '')):
                    past_year = "T" + str(Year - (i + 2))
                    year_value = country[past_year] if past_year in country else np.nan

                    if np.isnan(year_value):
                        two_years_back = "T" + str(Year - (i + 3))
                        year_value = country[two_years_back] if two_years_back in country else np.nan

                extended_value.append(year_value)

        else:
            # Process for years < 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = country[past_year] if past_year in country else 9999999

                extended_value.append(year_value)

        # Create a new row for each year and append to the DataFrame
        new_row = pd.DataFrame([{
            'Year': str(Year),
            'CTemp_Year_min1': extended_value[0],
            'CTemp_Year_min2': extended_value[1],
            'CTemp_Year_min3': extended_value[2],
        }])
        baseline_features = pd.concat([baseline_features, new_row], ignore_index=True)

    # Year started from 1995
    return baseline_features

In [258]:
def generate_baseline_features_real_missing(all_missing_rows, df_missing, idx):
    # Define the columns for the DataFrame
    df_columns = ['Year', 'CTemp_Year_min1', 'CTemp_Year_min2', 'CTemp_Year_min3']
    baseline_features = pd.DataFrame(columns=df_columns)

    # Select the temperature list and row based on the given index
    missing_year=all_missing_rows[idx]
    country=df_missing.iloc[idx]

    # Loop over each temperature entry in the list
    for t in missing_year:
        Year = int(t.replace('T', ''))
        extended_value = []

        if Year >= 1995:
            # Process for years >= 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = country[past_year] if past_year in country else np.nan

                # Handle missing values by checking if the value is NaN and backfilling
                if np.isnan(year_value) and (Year - (i + 2)) >= int(temp_list[0].replace('T', '')):
                    past_year = "T" + str(Year - (i + 2))
                    year_value = country[past_year] if past_year in country else np.nan

                    if np.isnan(year_value):
                        two_years_back = "T" + str(Year - (i + 3))
                        year_value = country[two_years_back] if two_years_back in country else np.nan

                extended_value.append(year_value)

        else:
            # Process for years < 1995
            for i in range(3):
                past_year = "T" + str(Year - (i + 1))
                year_value = country[past_year] if past_year in country else 9999999

                extended_value.append(year_value)

        # Create a new row for each year and append to the DataFrame
        new_row = pd.DataFrame([{
            'Year': str(Year),
            'CTemp_Year_min1': extended_value[0],
            'CTemp_Year_min2': extended_value[1],
            'CTemp_Year_min3': extended_value[2],
        }])
        baseline_features = pd.concat([baseline_features, new_row], ignore_index=True)

    # Year started from 1995
    return baseline_features

# Filtered Out Year we cannot solve

In [259]:
# Iterate over the list and modify each sublist
new_missing_rows = []

for list_of_year in all_missing_rows:
   # Convert to list if not already
   list_of_year = list_of_year.tolist()

   # Use list comprehension to remove unwanted items and avoid direct modification issues
   filtered_list = [x for x in list_of_year if not (x.startswith('T') and int(x[1:]) <= 1994)]

   # Only add non-empty lists to the new structure
   if filtered_list:
        new_missing_rows.append(filtered_list)

# Output the final structure
new_missing_rows

[['T2003', 'T2015', 'T2019'],
 ['T2002', 'T2011'],
 ['T2005'],
 ['T2003', 'T2007', 'T2017'],
 ['T2004', 'T2018'],
 ['T1996', 'T2003', 'T2011'],
 ['T2001', 'T2006', 'T2014'],
 ['T2003', 'T2015'],
 ['T1996', 'T2019'],
 ['T2007', 'T2009'],
 ['T2011', 'T2013'],
 ['T2008'],
 ['T2011'],
 ['T2003', 'T2019'],
 ['T2001', 'T2002'],
 ['T1995', 'T2001'],
 ['T2004'],
 ['T1996', 'T2010'],
 ['T1998'],
 ['T2009'],
 ['T1997'],
 ['T2014'],
 ['T1997', 'T1999'],
 ['T1999', 'T2018'],
 ['T2002'],
 ['T2006'],
 ['T2008'],
 ['T2008', 'T2014'],
 ['T1999'],
 ['T2001'],
 ['T1999', 'T2011', 'T2020'],
 ['T1998', 'T1999', 'T2008'],
 ['T2015', 'T2016'],
 ['T2006'],
 ['T2010'],
 ['T1996', 'T2001', 'T2004'],
 ['T2002'],
 ['T1995', 'T2009'],
 ['T2002', 'T2019'],
 ['T1997', 'T2003', 'T2018'],
 ['T2009'],
 ['T1998'],
 ['T2017'],
 ['T2014'],
 ['T2016'],
 ['T2003', 'T2008'],
 ['T2005', 'T2014'],
 ['T2000', 'T2012'],
 ['T2011'],
 ['T2010'],
 ['T2014', 'T2016', 'T2020'],
 ['T1999', 'T2001', 'T2003'],
 ['T2001', 'T2002', 'T2016'],
 ['T1995', 'T2000', 'T2015'],
 ['T2003', 'T2016'],
 ['T2005'],
 ['T2020'],
 ['T1996', 'T2004'],
 ['T2000', 'T2002', 'T2018'],
 ['T1996'],
 ['T2013'],
 ['T2014'],
 ['T1997'],
 ['T2008', 'T2015'],
 ['T1998'],
 ['T2004'],
 ['T1998'],
 ['T1995', 'T2012', 'T2020'],
 ['T1995', 'T1998', 'T2002'],
 ['T2009'],
 ['T2009', 'T2020'],
 ['T2009'],
 ['T2000', 'T2002'],
 ['T1999', 'T2010', 'T2016'],
 ['T1997', 'T2002'],
 ['T2009', 'T2014'],
 ['T2007', 'T2010'],
 ['T1998', 'T2018'],
 ['T2016', 'T2018'],
 ['T2014'],
 ['T1997', 'T1999'],
 ['T2003', 'T2007', 'T2015', 'T2017'],
 ['T2011'],
 ['T1995', 'T2003'],
 ['T2002', 'T2018'],
 ['T2003'],
 ['T2014'],
 ['T1999', 'T2006'],
 ['T2006'],
 ['T2004', 'T2013'],
 ['T2013'],
 ['T2004', 'T2012', 'T2016'],
 ['T1997', 'T2002', 'T2014'],
 ['T2011'],
 ['T2007'],
 ['T2012', 'T2020'],
 ['T2017'],
 ['T2005', 'T2011'],
 ['T1995'],
 ['T2017', 'T2020'],
 ['T1995'],
 ['T1999', 'T2001'],
 ['T2008'],
 ['T1996', 'T2018'],
 ['T2019'],
 ['T2001', 'T2003'],
 ['T2010'],
 ['T2003'],
 ['T1999', 'T2008', 'T2015'],
 ['T1998'],
 ['T2007'],
 ['T2016'],
 ['T2000', 'T2002', 'T2020'],
 ['T2017'],
 ['T2008', 'T2019'],
 ['T2015'],
 ['T1996'],
 ['T2000', 'T2012', 'T2016']]

# Filtered Out Real Answers

In [260]:
# Loop through each dictionary in the list
for dictionary in missing_real:
    # Check and remove 'T1994' if present
    if 'T1994' in dictionary:
        del dictionary['T1994']

    # Check and remove 'T1993' if present
    if 'T1993' in dictionary:
        del dictionary['T1993']

    # Check and remove 'T1992' if present
    if 'T1992' in dictionary:
        del dictionary['T1992']

# Filter out empty series and store non-empty series in a new list
missing_real = [dictionary for dictionary in missing_real if not dictionary.empty]
missing_real

[T2003    0.355
 T2015     0.97
 T2019    0.925
 Name: 162, dtype: object,
 T2002    0.487
 T2011    0.232
 Name: 162, dtype: object,
 T2005    0.945
 Name: 162, dtype: object,
 T2003    0.355
 T2007    0.127
 T2017    0.088
 Name: 162, dtype: object,
 T2004   -0.004
 T2018    0.453
 Name: 162, dtype: object,
 T1996   -0.247
 T2003    0.355
 T2011    0.232
 Name: 162, dtype: object,
 T2001    0.004
 T2006    -0.26
 T2014    0.025
 Name: 162, dtype: object,
 T2003    0.355
 T2015     0.97
 Name: 162, dtype: object,
 T1996   -0.247
 T2019    0.925
 Name: 162, dtype: object,
 T2007    0.127
 T2009   -0.226
 Name: 162, dtype: object,
 T2011    0.232
 T2013    0.118
 Name: 162, dtype: object,
 T2008    0.078
 Name: 162, dtype: object,
 T2011    0.232
 Name: 162, dtype: object,
 T2003    0.355
 T2019    0.925
 Name: 162, dtype: object,
 T2001    0.004
 T2002    0.487
 Name: 162, dtype: object,
 T1995    0.685
 T2001    0.004
 Name: 162, dtype: object,
 T2004   -0.004
 Name: 162, dtype: object,
 T1996   -0.247
 T2010    0.935
 Name: 162, dtype: object,
 T1998    0.801
 Name: 162, dtype: object,
 T2009   -0.226
 Name: 162, dtype: object,
 T1997   -0.025
 Name: 162, dtype: object,
 T2014    0.025
 Name: 162, dtype: object,
 T1997   -0.025
 T1999     0.03
 Name: 162, dtype: object,
 T1999     0.03
 T2018    0.453
 Name: 162, dtype: object,
 T2002    0.487
 Name: 162, dtype: object,
 T2006   -0.26
 Name: 162, dtype: object,
 T2008    0.078
 Name: 162, dtype: object,
 T2008    0.078
 T2014    0.025
 Name: 162, dtype: object,
 T1999    0.03
 Name: 162, dtype: object,
 T2001    0.004
 Name: 162, dtype: object,
 T1999     0.03
 T2011    0.232
 T2020    0.389
 Name: 162, dtype: object,
 T1998    0.801
 T1999     0.03
 T2008    0.078
 Name: 162, dtype: object,
 T2015    0.97
 T2016    1.27
 Name: 162, dtype: object,
 T2006   -0.26
 Name: 162, dtype: object,
 T2010    0.935
 Name: 162, dtype: object,
 T1996   -0.247
 T2001    0.004
 T2004   -0.004
 Name: 162, dtype: object,
 T2002    0.487
 Name: 162, dtype: object,
 T1995    0.685
 T2009   -0.226
 Name: 162, dtype: object,
 T2002    0.487
 T2019    0.925
 Name: 162, dtype: object,
 T1997   -0.025
 T2003    0.355
 T2018    0.453
 Name: 162, dtype: object,
 T2009   -0.226
 Name: 162, dtype: object,
 T1998    0.801
 Name: 162, dtype: object,
 T2017    0.088
 Name: 162, dtype: object,
 T2014    0.025
 Name: 162, dtype: object,
 T2016    1.27
 Name: 162, dtype: object,
 T2003    0.355
 T2008    0.078
 Name: 162, dtype: object,
 T2005    0.945
 T2014    0.025
 Name: 162, dtype: object,
 T2000   -0.417
 T2012    0.334
 Name: 162, dtype: object,
 T2011    0.232
 Name: 162, dtype: object,
 T2010    0.935
 Name: 162, dtype: object,
 T2014    0.025
 T2016     1.27
 T2020    0.389
 Name: 162, dtype: object,
 T1999     0.03
 T2001    0.004
 T2003    0.355
 Name: 162, dtype: object,
 T2001    0.004
 T2002    0.487
 T2016     1.27
 Name: 162, dtype: object,
 T1995    0.685
 T2000   -0.417
 T2015     0.97
 Name: 162, dtype: object,
 T2003    0.355
 T2016     1.27
 Name: 162, dtype: object,
 T2005    0.945
 Name: 162, dtype: object,
 T2020    0.389
 Name: 162, dtype: object,
 T1996   -0.247
 T2004   -0.004
 Name: 162, dtype: object,
 T2000   -0.417
 T2002    0.487
 T2018    0.453
 Name: 162, dtype: object,
 T1996   -0.247
 Name: 162, dtype: object,
 T2013    0.118
 Name: 162, dtype: object,
 T2014    0.025
 Name: 162, dtype: object,
 T1997   -0.025
 Name: 162, dtype: object,
 T2008    0.078
 T2015     0.97
 Name: 162, dtype: object,
 T1998    0.801
 Name: 162, dtype: object,
 T2004   -0.004
 Name: 162, dtype: object,
 T1998    0.801
 Name: 162, dtype: object,
 T1995    0.685
 T2012    0.334
 T2020    0.389
 Name: 162, dtype: object,
 T1995    0.685
 T1998    0.801
 T2002    0.487
 Name: 162, dtype: object,
 T2009   -0.226
 Name: 162, dtype: object,
 T2009   -0.226
 T2020    0.389
 Name: 162, dtype: object,
 T2009   -0.226
 Name: 162, dtype: object,
 T2000   -0.417
 T2002    0.487
 Name: 162, dtype: object,
 T1999     0.03
 T2010    0.935
 T2016     1.27
 Name: 162, dtype: object,
 T1997   -0.025
 T2002    0.487
 Name: 162, dtype: object,
 T2009   -0.226
 T2014    0.025
 Name: 162, dtype: object,
 T2007    0.127
 T2010    0.935
 Name: 162, dtype: object,
 T1998    0.801
 T2018    0.453
 Name: 162, dtype: object,
 T2016     1.27
 T2018    0.453
 Name: 162, dtype: object,
 T2014    0.025
 Name: 162, dtype: object,
 T1997   -0.025
 T1999     0.03
 Name: 162, dtype: object,
 T2003    0.355
 T2007    0.127
 T2015     0.97
 T2017    0.088
 Name: 162, dtype: object,
 T2011    0.232
 Name: 162, dtype: object,
 T1995    0.685
 T2003    0.355
 Name: 162, dtype: object,
 T2002    0.487
 T2018    0.453
 Name: 162, dtype: object,
 T2003    0.355
 Name: 162, dtype: object,
 T2014    0.025
 Name: 162, dtype: object,
 T1999    0.03
 T2006   -0.26
 Name: 162, dtype: object,
 T2006   -0.26
 Name: 162, dtype: object,
 T2004   -0.004
 T2013    0.118
 Name: 162, dtype: object,
 T2013    0.118
 Name: 162, dtype: object,
 T2004   -0.004
 T2012    0.334
 T2016     1.27
 Name: 162, dtype: object,
 T1997   -0.025
 T2002    0.487
 T2014    0.025
 Name: 162, dtype: object,
 T2011    0.232
 Name: 162, dtype: object,
 T2007    0.127
 Name: 162, dtype: object,
 T2012    0.334
 T2020    0.389
 Name: 162, dtype: object,
 T2017    0.088
 Name: 162, dtype: object,
 T2005    0.945
 T2011    0.232
 Name: 162, dtype: object,
 T1995    0.685
 Name: 162, dtype: object,
 T2017    0.088
 T2020    0.389
 Name: 162, dtype: object,
 T1995    0.685
 Name: 162, dtype: object,
 T1999     0.03
 T2001    0.004
 Name: 162, dtype: object,
 T2008    0.078
 Name: 162, dtype: object,
 T1996   -0.247
 T2018    0.453
 Name: 162, dtype: object,
 T2019    0.925
 Name: 162, dtype: object,
 T2001    0.004
 T2003    0.355
 Name: 162, dtype: object,
 T2010    0.935
 Name: 162, dtype: object,
 T2003    0.355
 Name: 162, dtype: object,
 T1999     0.03
 T2008    0.078
 T2015     0.97
 Name: 162, dtype: object,
 T1998    0.801
 Name: 162, dtype: object,
 T2007    0.127
 Name: 162, dtype: object,
 T2016    1.27
 Name: 162, dtype: object,
 T2000   -0.417
 T2002    0.487
 T2020    0.389
 Name: 162, dtype: object,
 T2017    0.088
 Name: 162, dtype: object,
 T2008    0.078
 T2019    0.925
 Name: 162, dtype: object,
 T2015    0.97
 Name: 162, dtype: object,
 T1996   -0.247
 Name: 162, dtype: object,
 T2000   -0.417
 T2012    0.334
 T2016     1.27
 Name: 162, dtype: object]

In [261]:
baseline_features = generate_baseline_features_real_missing(new_missing_rows, df_missing,idx=18)
baseline_features

   Year  CTemp_Year_min1  CTemp_Year_min2  CTemp_Year_min3
0  1998            0.671            0.429            0.471

In [262]:
extended_features=extended_features_real_missing(new_missing_rows,df_missing,idx=18)
extended_features

   Year  C_Year-1  F_Year-1  L_Year-1  D_Year-1
0  1998   182.095     401.8  80.27865       0.0

In [263]:
merged_df=merge_extended_features(baseline_features, extended_features)
merged_df

,Year,CTemp_Year_min1,CTemp_Year_min2,CTemp_Year_min3,C_Year-1,F_Year-1,L_Year-1,D_Year-1
0,1998,0.671,0.429,0.471,182.095,401.8,80.27865,0.0

In [276]:
idx=110
# Generate features and target for the current index
baseline_features = generate_baseline_features_real_missing(new_missing_rows, df_missing, idx=idx)
X = baseline_features.drop(['Year'], axis=1)

# Make predictions
predictions = rf_regressor_baseline.predict(X)
real_answers = missing_real[idx]
print(predictions)
print(real_answers)

# Calculate MSE, MAE, and convert MSE to RMSE
mse = mean_squared_error(real_answers, predictions)
mae = mean_absolute_error(real_answers, predictions)
rmse = np.sqrt(mse)

print(rmse)
print(mae)

[0.35997]
T2007    0.127
Name: 162, dtype: object
0.23297
0.23297

# Test - Baseline Model

In [284]:
# Initialize lists to store MAE and RMSE for each index
mae_list = []
rmse_list = []

# Loop through indices
for idx in range(len(missing_real)):  # Range from 0 to 118
    # Generate features and target for the current index
    baseline_features = generate_baseline_features_real_missing(new_missing_rows, df_missing, idx=idx)
    X = baseline_features.drop(['Year'], axis=1)

    # Make predictions
    predictions = rf_regressor_baseline.predict(X)
    real_answers = missing_real[idx]

    # Calculate MSE, MAE, and convert MSE to RMSE
    mse = mean_squared_error(real_answers, predictions)
    mae = mean_absolute_error(real_answers, predictions)
    rmse = np.sqrt(mse)

    # Append MAE and RMSE to lists
    mae_list.append(mae)
    rmse_list.append(rmse)

# Calculate average MAE and RMSE
avg_mae = np.mean(mae_list)
avg_rmse = np.mean(rmse_list)

print("Average MAE:", avg_mae)
print("Average RMSE:", avg_rmse)

Average MAE: 0.3627473234463277
Average RMSE: 0.38652366300304664

# Test - Extended Feature

In [283]:
# Initialize lists to store MAE and RMSE for each index
mae_list = []
rmse_list = []

# Loop through indices
for idx in range(len(missing_real)):  # Range from 0 to 118
    baseline_features = generate_baseline_features_real_missing(new_missing_rows, df_missing,idx=idx)
    extended_features = extended_features_real_missing(new_missing_rows,df_missing,idx=idx)
    merged_df=merge_extended_features(baseline_features, extended_features)
    X=merged_df.drop(['Year'],axis=1)

    # Make predictions
    predictions = rf_regressor_extended.predict(X)
    real_answers = missing_real[idx]

    # Calculate MSE, MAE, and convert MSE to RMSE
    mse = mean_squared_error(real_answers, predictions)
    mae = mean_absolute_error(real_answers, predictions)
    rmse = np.sqrt(mse)

    # Append MAE and RMSE to lists
    mae_list.append(mae)
    rmse_list.append(rmse)

# Calculate average MAE and RMSE
avg_mae = np.mean(mae_list)
avg_rmse = np.mean(rmse_list)

print("Average MAE:", avg_mae)
print("Average RMSE:", avg_rmse)

Average MAE: 0.35665798728813547
Average RMSE: 0.3818452087809477